*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 98%);
    --grey: hsl(0, 0%, 41%);
    --black: hsl(0, 0%, 8%);
}

body{
    font-family: 'Epilogue', sans-serif;
    background-color: var(--white);
}


header {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 5% ;
}



/* sidebar  */

#sidebar{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(1000px);
    padding: 20px;
    background-color: var(--white);
    height: 100%;
    width: 300px;
    transition: opacity 5s ease;
    opacity: 0;
}

.sidebar-open{
    transform: translateX(0) !important;
    display: block !important;
    opacity: 1 !important;
}

#sidebar .close-sidebar{
    position: absolute;
    right: 20px;
}

#sidebar .sidebar-menu-links{
    margin-top: 7vh;
    padding-left: 20px;
}


/* sidebar dropdown  */

#sidebar .sidebar-menu-links ul{
    list-style: none;
}

#sidebar .sidebar-menu-links ul li{
    margin: 20px 0;
}

#sidebar .sidebar-menu-links ul li .arrow-down{
    font-size: 20px;
    color: var(--grey);
    margin-left: 10px;
    transition: transform .5s ease;
}

#sidebar .sidebar-menu-links ul li a{
    text-decoration: none;
    font-size: 20px;
    color: var(--grey);
    font-weight: 500;
}

#sidebar .sidebar-menu-links ul li ul{
    padding-left: 20px;
    display: none;
    transition: all 2s ease;
}

#sidebar .sidebar-dropdown-open{
    display: block !important;
    transition: all .5s ease;
}

#sidebar .sidebar-menu-links ul li ul li{
    display: flex;
    align-items: center;
}

#sidebar .sidebar-menu-links ul li ul li img{
    width: 20px;
    margin-right: 20px;
}

#sidebar .sidebar-menu-links ul li ul li a{
    color: var(--grey);
    font-weight: 500;
}

#sidebar .sidebar-menu-buttons {
    display: flex;
    flex-direction: column;
}

#sidebar .sidebar-menu-buttons button{
    padding: 10px 0;
    font-size: 16px;
    border-radius: 20px;
    color: var(--grey);
    font-weight: 500;
    font-family: 'Epilogue',sans-serif;
}

#sidebar .sidebar-menu-buttons .login{
        margin-bottom: 10px;
        border: none;
}

#sidebar .sidebar-menu-buttons .register{
    border: 1px solid hsl(0, 0%, 8%);
}

main{
    height: 90vh;
    width: 100%;
}

.hero .hero-bg{
    height: 40vh;
    /* max-width: 100%; */
    background-image: url(./images/image-hero-mobile.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-text{
    padding: 50px 5%;
}

.hero-header{
    text-align: center;
    margin-bottom: 30px;
}

.hero-header h1{
    font-size: 45px;
    color: var(--black);
}


.hero-desc{
    text-align: center;
    margin-bottom: 30px;
}

.hero-desc p{
    font-size: 22px;
    color: var(--grey);
    line-height: 35px;
}

.hero-learn-btn{
    display: flex;
    justify-content: center;
}

.hero-learn-btn button{
    padding: 20px 30px;
    border: none;
    background-color: var(--black);
    border-radius: 20px;
    color: var(--white);
    font-size: 20px;
    font-family: 'Epilogue', sans-serif;
}

.orgs {
    display: flex;
    padding: 0 5% 50px 5%;
    justify-content: space-between;
}

.orgs img {
    width: 80px;
}

.nav-buttons{
    display: none;
}

/* navbar on desktop screens  */

nav .navlinks {
    display: none;
}

@media only screen and (min-width: 900px){
    header{
        max-width: 2000px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
    

    nav .navlinks{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        list-style: none;
        
    }

    #sidebar-toggler{
        display: none;
    }

    /* styling navbar link  */

    .nav-buttons{
        display: block;
    }

    .navlink{
        margin: 0 30px 0 0;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .navlinks  .link{
        padding-right: 10px;
        text-decoration: none;
        color: var(--grey);
    }

    .navlinks .navlink:hover .link{
        color: var(--black);
    }

    

    .navlinks .navlink:hover .drop-desk{
        display: block;
        opacity: 1;
    }

    .navlinks .navlink:hover  i{
        transform: rotate(-180deg);
    }


    
    .navlinks i{
        color: var(--grey);
        font-size: 10px;
        transition: transform .5s ease;
    }

    /* navbar dropdown styling  */

    .drop-desk{
        list-style: none;
        display: none;
        opacity: 0;
        padding: 20px 20px 30px 20px;
        background-color: white;
        position: absolute;
        top: 100%;
        width: 180px;
        border-radius: 10px;
        transition: all 2s ease;
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.315);

    }

    

    .features-drop{
        right: 20px;
    }

    .company-drop{
        right: -50px;
    }

    .drop-desk li{
        padding-bottom: 10px;
        margin-left: 10px;
    }

    .drop-desk li a{
        text-decoration: none;
        margin-left: 10px;
        color: var(--grey);
        transition: color .5s ease;
    }

    .drop-desk li a:hover{
        color: var(--black);
    }

    .nav-buttons{
        position: relative;
        display: flex;
        align-items: center;
    }

    .nav-buttons button{
        position: absolute;
        right: 0;
        padding: 10px 15px;
        font-family: inherit;
        color: var(--grey);
        transition: color .5s ease-in;
        cursor: pointer;
    }

    .nav-buttons button:hover{
        color: var(--black);
    }



    .btn-login{
      margin: 0 100px;
      border: none;
      background-color: transparent;
    }

    .btn-register{
        border: 2px solid hsl(0, 0%, 41%);
        border-radius: 10px;
        background-color: transparent;
    
    }

    main{
        width: 100%;
        padding: 5% 5%;
        max-width: 2000px;
        margin: auto;
    }

    .hero{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        height: 100%;
        align-items: center;
        gap: 5%;
        margin: auto;
        padding: 0 5vw;
    }

    .hero .hero-bg{
        
        width: 100%;
        height: 100%;
        background-image: url(./images/image-hero-desktop.png) !important;
        background-size: cover;
        background-repeat: no-repeat;
    }

        .hero-text {
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 90%;
        
        margin: auto 0 0 0;
        justify-content: space-between;
        }

        

        .hero-header {
            text-align: left;
            width: 60%;
        }

        .hero-header h1 {
            font-size: 40px;
            color: var(--black);
        }

        .hero-desc {
            text-align: left;
            width: 80%;
            
        }
    
        .hero-desc p {
            font-size: 20px;
            color: var(--grey);
            line-height: 35px;
        }

        .hero-learn-btn {
            display: flex;
            justify-content: flex-start;
            
        }

        .hero-learn-btn button {
            transition: background-color .5s ease;
        }

        .hero-learn-btn button:hover{
            background-color: var(--grey);
        }
    
    
        .orgs {
            display: flex;
            padding: 30px 0 0 0;
            gap: 30px;
            justify-content: space-between;
        }
    
        .orgs img {
            width: 100px;
        }
}

/* @media only screen and (min-width: 2000px) {
    .hero-header, .hero-desc , .hero-learn-btn {
        margin-bottom: 10%;
    }
} */